.cover__overlay{
  background: rgba(42, 44, 47, .3);
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background 0.4s 0s ease;
}
.cover__overlay:hover{
  background: rgba(42, 44, 47, .8);
}
@media screen and (max-width:1024px) {
  .cover__overlay{
    min-height: 640px;
  }
}
@media screen and (max-width:768px) {
  .cover__overlay{
    min-height: 480px;
  }
}
@media screen and (max-width:425px) {
  .cover__overlay{
    min-height: 200px;
  }
}
