.place{
  display: grid;
  grid-template-columns: 460px auto;
  gap:48px 40px;
  padding: 0 0 80px 0;
}
.place:last-child{
  padding: 0;
}
@media screen and (max-width:1024px){
  .place{
    grid-template-columns: minmax(150px,440px) auto;
    gap:48px 32px;
  }
}
@media screen and (max-width:768px){
  .place{
    gap:48px 28px;
  }
}
@media screen and (max-width:670px){
  .place{
    display: block;
    padding: 0 0 50px 0;
  }
}
